.card {
  width: 320px;
  padding: 24px;
  border-radius: 16px;
  background: white;
  font-family: system-ui, sans-serif;
  border: 1px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}